<th:block th:fragment="content" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<div id="content">

		<h3 th:text="#{html.jira.sprints.active}" />

		<div th:object="${sprint}" th:each="sprint : ${activeSprints}">
			<h4 class="inline" th:text="${sprint.name}" />

			<table class="table table-striped">
				<thead>
					<tr>
						<th class="col-sm-2" th:text="#{html.jira.key}" />
						<th class="col-sm-10" th:text="#{html.jira.summary}" />
					</tr>
				</thead>
				<tbody>
					<tr th:each="task : *{tasks}">
						<td>
							<a th:href="${browseUrl} + ${task.key}" th:text="${task.key}" target="_BLANK" />
						</td>
						<td th:text="${task.summary}"></td>
					</tr>	
				</tbody>
			</table>
		</div>

		<h3 th:text="#{html.jira.sprints.closed}" />

		<div th:object="${sprint}" th:each="sprint : ${closedSprints}">
			<h4 data-toggle="collapse" th:attr="data-target='#sprint' + ${sprint.id}">
				<em class="fa fa-caret-right" ></em>
				<span style="padding-left: 5px;" th:text="${sprint.name}" />
				<span style="padding-left: 10px;" th:text="' (' + ${#dates.format(sprint.endDate, 'yyyy/MM/dd')} + ')'" />
			</h4>

			<div th:id="'sprint' + ${sprint.id}" class="collapse">
				<table class="table table-striped">
					<thead>
						<tr>
							<th class="col-sm-1" th:text="#{html.jira.key}"></th>
							<th class="col-sm-11" th:text="#{html.jira.summary}"></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="task : *{tasks}">
							<td>
								<a th:href="${browseUrl} + ${task.key}" th:text="${task.key}" target="_BLANK" />
							</td>
							<td th:text="${task.summary}"></td>
						</tr>	
					</tbody>
				</table>
			</div>
		</div>
	</div>
	
	<script type="text/javascript">
		$("document").ready(function() {
			$('.collapse').on('shown.bs.collapse', function() {
				$(this).parent().find(".fa-caret-right").removeClass("fa-caret-right").addClass("fa-caret-down");
			}).on('hidden.bs.collapse', function() {
				$(this).parent().find(".fa-caret-down").removeClass("fa-caret-down").addClass("fa-caret-right");
			});
		});
	</script>
</th:block>
