<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/header :: header"/>
<body>
	<div class="wrapper">
		<header th:replace="fragment/navbar :: navbar-header" />
		<aside th:replace="fragment/navbar :: navbar-aside (page = 'none')" />
 
		<section>
			<div class="content-wrapper">
				<div class="panel-body">
					<div class="row">
						<div class="col-sm-12">
							<h3 th:text="${status} + ' ' + ${error}" />
						</div>
					</div>

					<div class="row">
						<div class="col-sm-12">
							<div th:if="${trace} == null" th:text="${exception} + ': ' + ${message}"/>
							<pre th:if="${trace} != null" th:text="${trace}"/>
						</div>
					</div>
				</div>
	        </div>
	    </section>
	</div>
	<nav th:replace="fragment/footer :: footer" />
</body>
</html>
