<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/header :: header"/>
<body>
	<div class="wrapper">
		<header th:replace="fragment/navbar :: navbar-header" />
		<aside th:replace="fragment/navbar :: navbar-aside (page = 'purchases.new')" />
 
		<section>
			<div class="content-wrapper">
				<h3 th:if="${#strings.toString(purchase.status)}!='COMPLETED'">
					<a class="btn btn-default" th:if="${#strings.toString(purchase.status)}=='DRAFT'" id="addCustomRequirementButton" href="#" data-toggle="modal" data-target="#addCustomRequirementModal">
						<i class="fa fa-plus" style="margin-right: 10px;"></i>
						<span th:text="#{html.purchase.edit.head.button.add.customrequirement}" />
					</a>
					<!--*** Old vendor model check--->
					<span th:if="${oldVendorModel==false}">
					<a class="btn btn-default" th:if="${#strings.toString(purchase.status)}=='ACTIVE'" id="inviteVendorModalButton" href="#" data-toggle="modal" data-target="#inviteVendorModal">
						<i class="fa fa-envelope" style="margin-right: 10px;"></i>
						<span th:text="#{html.purchase.edit.head.button.invite.vendor}" />
					</a>
					</span>
					<a th:if="${#strings.toString(purchase.status)}=='DRAFT'" id="activateProject" class="btn btn-default" href="#">
						<i class="fa fa-check-circle-o" style="margin-right: 10px;"></i>
						<span th:text="#{html.purchase.edit.head.button.status.activate}" />
					</a>
					<a th:if="${#strings.toString(purchase.status)}=='DRAFT' or ${#strings.toString(purchase.status)}=='ACTIVE'" id="cancelProject" class="btn btn-default" href="#">
						<i class="fa fa-ban" style="margin-right: 10px;"></i>
						<span th:text="#{html.purchase.edit.head.button.status.cancel}" />
					</a>
				</h3>

 				<div class="panel-body">
					<div class="row">
						<div class="col-lg-12">
							<form id="purchase-form" class="form-horizontal" th:object="${purchase}">
								<input th:field="*{id}" type="hidden"/>

								<fieldset>
									<div class="form-group">
										<label class="col-sm-2 control-label" th:text="#{html.purchase.id}"/>
										<div class="col-sm-8">
											<input th:value="${purchase.id}" class="form-control" readonly="readonly"/>
										</div>
									</div>
								</fieldset>

								<fieldset>
									<div class="form-group">
										<label class="col-sm-2 control-label" th:text="#{html.purchase.title} + ' *'"/>
										<div class="col-sm-8">
											<input th:field="*{title}" class="form-control" th:readonly="*{status.value}!='enum.status.draft'"/>
										</div>
									</div>
								</fieldset>

								<fieldset>
									<div class="form-group">
										<label class="col-sm-2 control-label" th:text="#{html.purchase.description} + ' *'"/>
										<div class="col-sm-8">
											<div th:if="*{status.value} != 'enum.status.draft'" th:text="*{description}" class="preformat form-control" style="height: auto !important;" th:readonly="readonly"/>
											<textarea th:if="*{status.value} == 'enum.status.draft'" rows="8" th:field="*{description}" class="form-control" />
										</div>
									</div>
								</fieldset>

								<fieldset>
									<div class="form-group">
										<label class="col-sm-2 control-label" th:text="#{html.purchase.email} + ' *'"/>
										<div class="col-sm-8">
											<input th:field="*{email}" class="form-control" th:readonly="*{status.value}!='enum.status.active' and *{status.value}!='enum.status.draft'"/>
										</div>
									</div>
								</fieldset>

								<fieldset>
									<div class="form-group">
										<label class="col-sm-2 control-label" th:text="#{html.purchase.deadline} + ' *'"/>
										<div class="col-sm-8">
											<input type="text" th:field="*{endTime}" class="form-control" />
										</div>
									</div>
								</fieldset>

								<fieldset>
									<div class="form-group">
										<label class="col-sm-2 control-label" th:text="#{html.purchase.status}"/>
										<div class="col-sm-8">
											<input th:value="#{__*{status.value}__}" class="form-control" readonly="readonly" />
										</div>
									</div>
								</fieldset>

								<!--TODO pso: add new purchase winner id to database and add support for new vendor model-->
								<fieldset th:if="${#strings.toString(purchase.status) == 'COMPLETED' or #strings.toString(purchase.status) == 'ARCHIVED'}">
									<div class="form-group blu-margin">
										<label class="col-sm-2 control-label" th:text="#{html.purchase.winner}"/>
										<div class="col-sm-8">
											<!--*** OLD VendorModel ***-->
											<select th:if="${oldVendorModel==true}" class="form-control" th:field="*{winner}">
												<option value="0" th:text="#{html.purchase.list.select.winner}" ></option>
												<option th:each="answer : ${answers}" th:value="${answer.id}" th:text="${answer.name}"></option>
											</select>
											<!--*** NEW VendorModel ***-->
											<select th:if="${oldVendorModel==false}" class="form-control" th:field="*{winnerPurchaseAnswer}">
												<option value="0" th:text="#{html.purchase.list.select.winner}" ></option>
												<option th:each="purchaseAnswer : *{purchaseAnswers}" th:value="${purchaseAnswer.id}" th:text="${purchaseAnswer.vendorOrganization.domain}"></option>
											</select>
										</div>
									</div>
								</fieldset>


								<fieldset>
									<div class="form-group">
										<label class="col-sm-2 control-label" th:text="#{html.purchase.domain}"/>
										<div class="col-sm-8">
											<ul>
												<li style="padding-left: 16px;" th:each="domain : *{domains}" th:value="${domain.id}" th:text="${domain.name}" ></li>
											</ul>
										</div>
									</div>
								</fieldset>
								
								<fieldset>
									<div class="col-sm-12">
										<h3 th:text="#{html.purchase.view.standardrequirements}" />

										<table class="listTable table table-striped table-hover searchable-table">
											<thead>
												<tr>
													<th class="col-md-1" th:text="#{html.purchase.enable}" />
													<th class="col-md-4" th:text="#{html.purchase.view.requirements}" />
													<th class="col-md-1" th:text="#{html.purchase.importance}" />
													<th class="col-md-6" th:text="#{html.purchase.description}" />
												</tr>
											</thead>

											<tbody>
												<tr th:each="requirement: ${requirements}">
													<td>
														<div class="checkbox c-checkbox" style="width: 100% !important;">
															<label>
																<input th:id="${requirement.id}" th:onclick="if (this.getAttribute('data-performonclick') == 'true') { handleCheckboxChange(this); }"
																	   th:data-performonclick="${#strings.toString(purchase.status)}=='DRAFT' ? 'true' : 'false'"
																       th:attr="data-importance=${requirement.importance},data-purchaserequirementid=${requirement.purchaseRequirementId}" type="checkbox" th:checked="${requirement.selected}"
																       th:disabled="${(onlyEditorsCanRemoveMinimumRequirements==true and requirement.selected==true and isEditor==false and requirement.importance==T(dk.digitalidentity.re.dao.model.enums.Importance).ABSOLUTE) or #strings.toString(purchase.status)!='DRAFT'}"/>
																<span class="fa fa-check"></span>
															</label>
														</div>
													</td>
													<td>
														<span th:text="${requirement.name}"></span>
                                                        <span style="margin-bottom: 0px !important;">
                                                            <a th:if="${requirement.helpText} != null" href="#" rel="popover" data-html="true" data-placement="right" data-toggle="popover" data-trigger="focus" th:title="#{pdf.purchase.view.helpText}" th:attr="data-content=${requirement.helpText}" onclick="return false;">
                                                                <em class="fa fa-lg fa-question-circle"></em>
                                                            </a>
                                                        </span>
													</td>
													<td>
														<span th:id="'req-prio-span-' + ${requirement.id}" th:text="#{__${requirement.importance.value}__}"
														      th:attr="data-importance=${requirement.importance}"
														      th:style="${requirement.selected and #strings.toString(purchase.status) == 'DRAFT' and (#strings.toString(requirement.importance) != 'ABSOLUTE' or onlyEditorsCanRemoveMinimumRequirements == false or isEditor)} ? 'display: none;' : ''" />
														<select th:id="'req-prio-select-' + ${requirement.id}" class="form-control"
																th:attr="data-importance=${requirement.importance}"
																th:style="${requirement.selected and #strings.toString(purchase.status) == 'DRAFT' and (#strings.toString(requirement.importance) != 'ABSOLUTE' or onlyEditorsCanRemoveMinimumRequirements == false or isEditor)} ? '' : 'display: none;'"
																onchange="changePriority(this);">
															<option class="form-control"
																th:each="type : ${T(dk.digitalidentity.re.dao.model.enums.Importance).values()}"
																th:value="${type}" th:text="#{__${type.value}__}"
																th:selected="${type == requirement.importance}" />
														</select>
													</td>
													<td class="preformat" th:text="${requirement.description}" />
												</tr>
											</tbody	>
										</table>
									</div>
								</fieldset>
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>

	<!-- modal add custom requirement -->
	<div id="addCustomRequirementModal" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title" th:text="#{html.purchase.addcustom}" />
				</div>
				<form class="form-horizontal" method="post" th:action="@{/purchase/{purchaseId}/addcustomrequirement(purchaseId=${purchase.id})}" id="addCustomRequirementForm" th:object="${customRequirement}">
					<div class="modal-body">
						<fieldset>
							<div class="form-group">
								<label class="col-sm-2 control-label" th:text="#{html.requirement.name}" />
								<div class="col-sm-10">
									<input th:field="*{name}" id="crfName" class="form-control" />
									<ul th:if="${#fields.hasErrors('name')}" class="error">
										<li class="error" th:each="err : ${#fields.errors('name')}" th:text="${err}"/>
									</ul>
								</div>
							</div>
						</fieldset>
	
						<fieldset>
							<div class="form-group">
								<label class="col-sm-2 control-label" th:text="#{html.requirement.category}" />
								<div class="col-sm-10">
									<select th:field="*{category}" class="form-control">
										<option class="form-control" th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}" />
									</select>
								</div>
							</div>
						</fieldset>
	
						<fieldset>
							<div class="form-group">
								<label class="col-sm-2 control-label" th:text="#{html.requirement.importance}" />
								<div class="col-sm-10">
									<select th:field="*{importance}" class="form-control">
										<option
											th:each="type : ${T(dk.digitalidentity.re.dao.model.enums.Importance).values()}"
											th:value="${type}" th:text="#{__${type.value}__}"
											th:selected="${type} == *{importance}" />
									</select>
								</div>
							</div>
						</fieldset>
						<fieldset>
							<div class="form-group">
								<label class="col-sm-2 control-label" th:text="#{html.requirement.description}" />
								<div class="col-sm-10">
									<textarea rows="8" th:field="*{description}" class="form-control" />
									<ul th:if="${#fields.hasErrors('description')}" class="error">
										<li class="error" th:each="err : ${#fields.errors('description')}" th:text="${err}"/>
									</ul>
								</div>
							</div>
						</fieldset>
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-primary" th:text="#{html.control.button.save}"/>
						<button type="button" class="btn btn-danger" data-dismiss="modal" th:text="#{html.control.button.close}"/>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- end modal -->
	
	<!-- modal invite vendor -->
	<div id="inviteVendorModal" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title" th:text="#{html.purchase.page.invitevendor}" />
				</div>
	
				<form class="form-horizontal" id="inviteVendorForm" th:object="${inviteVendorForm}" th:action="@{/purchase/edit/}+${purchase.id}+'/inviteVendor'" method="post">
					<div class="modal-body">

						<fieldset>
							<div class="form-group">
								<label class="col-sm-2 control-label" th:text="#{html.purchase.vendor.email}" />
								<div class="col-sm-10">
									<input th:field="*{email}" class="form-control" />
									<ul th:if="${#fields.hasErrors('email')}" class="error">
										<li class="error" th:each="err : ${#fields.errors('email')}" th:text="${err}"/>
									</ul>
								</div>
							</div>
						</fieldset>
	
						<fieldset>
							<div class="form-group">
								<label class="col-sm-2 control-label" th:text="#{html.purchase.page.invite.vendor.custom.message}" />
								<div class="col-sm-10">
									<textarea rows="8" th:field="*{message}" class="form-control" />
									<ul th:if="${#fields.hasErrors('message')}" class="error">
										<li class="error" th:each="err : ${#fields.errors('message')}" th:text="${err}"/>
									</ul>
								</div>
							</div>
						</fieldset>
					</div>

					<div class="modal-footer">
						<button type="submit" id="inviteVendorButton" class="btn btn-primary" th:text="#{html.control.button.send.invite}" />
						<button type="button" class="btn btn-danger" data-dismiss="modal" th:text="#{html.control.button.close}"/>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- end modal -->
	<div th:replace="fragment/footer :: footer" />

	<script th:replace="fragment/datatables :: datatables " />

	<script th:inline="javascript">
		/*<![CDATA[*/

		/*[+
			var cancelTxt = [[#{html.control.button.no}]];
			var confirmTxt = [[#{html.control.button.yes}]];
			var url = [[@{/purchase/}]];
			var purchaseId = [[${purchaseid}]];
			var purchaseStatus = [[${#strings.toString(purchase.status)}]];
			var fieldUpdatedMsg = [[#{html.purchase.updatedmsg}]];
			var fieldNotUpdatedMsg = [[#{html.purchase.failedupdate}]];
			var inviteSentMsg= [[#{html.purchase.inviteSentMsg}]];
			var inviteNotSentMsg = [[#{html.purchase.inviteNotSentMsg}]];
			
			var validationErrorMsgs = {
				title : [[#{html.error.purchase.validation.title}]],
				description : [[#{html.error.purchase.validation.description}]],
				email : [[#{html.error.purchase.validation.email}]],
				endTime : [[#{html.error.purchase.validation.endTime}]],
				endTimeFormat : [[#{html.error.purchase.validation.endTimeFormat}]]
			};
			
			var isEditor = [[${isEditor}]];
			var onlyEditorsCanRemoveMinimumRequirements = [[${onlyEditorsCanRemoveMinimumRequirements}]];
			var swalDeleteTitle = [[#{html.purchase.edit.swal.delete.title}]];
			var swalDeleteText = [[#{html.purchase.edit.swal.delete.text}]];
			var swalFromAbsoluteTitle = [[#{html.purchase.edit.swal.fromabsolute.title}]];
			var swalFromAbsoluteText = [[#{html.purchase.edit.swal.fromabsolute.text}]];
			var swalToAbsoluteTitle = [[#{html.purchase.edit.swal.toabsolute.title}]];
			var swalToAbsoluteText = [[#{html.purchase.edit.swal.toabsolute.text}]];
			var swalToAbsoluteForPurchaserText = [[#{html.purchase.edit.swal.toabsoluteforpuchaser.text}]];
		 	var swalCancelTitle = [[#{html.purchase.edit.swal.cancel.title}]];
		 	var swalCancelText = [[#{html.purchase.edit.swal.cancel.text}]];
		 	var swalActivateTitle = [[#{html.purchase.edit.swal.activate.title}]];
		 	var swalActivateText = [[#{html.purchase.edit.swal.activate.text}]];
		 	var changingStatusErrorTitle = [[#{html.purchase.edit.swal.activate.error.title}]];
		 	var changingStatusErrorText = [[#{html.purchase.edit.swal.activate.error.text}]];
		 	var swalSureChangeDeadlineTitle = [[#{html.purchase.edit.swal.change.deadline.title}]];
		 	var swalSureChangeDeadlineText = [[#{html.purchase.edit.swal.change.deadline.text}]];
		+]*/
		var token = $("meta[name='_csrf']").attr("content");

		$("document").ready(function() {
			$('#endTime').datetimepicker({
				locale: 'da',
				format: 'YYYY/MM/DD - HH:mm',
				icons : {
						time: 'fa fa-clock-o',
						date: 'fa fa-calendar',
						up: 'fa fa-chevron-up',
						down: 'fa fa-chevron-down',
						previous: 'fa fa-chevron-left',
						next: 'fa fa-chevron-right',
						today: 'fa fa-crosshairs',
						clear: 'fa fa-trash-o',
						close: 'fa fa-times'
					},
				useCurrent: false
			});

			$('[rel=popover]').popover();

			$("#purchase-form > fieldset > .form-group > div > .form-control:not([readonly])").on('focusin', function(){
				$(this).data('val', $(this).val());
			}).on('change', function(){
				var prev = $(this).data('val');
				var current = $(this).val();
				handleChangeOnInput($(this).attr("id") , prev);
			});

			$("#endTime").on("dp.hide", function(e) {
				var prev = $(this).data('val');
				var current = $(this).val();
				if(prev == current){
					return;
				}
				if(purchaseStatus == "ACTIVE" || purchaseStatus == "COMPLETED"){
					swal({
							html : true,
							title: swalSureChangeDeadlineTitle,
							text : swalSureChangeDeadlineText,
							type : "warning",
							showCancelButton : true,
							confirmButtonColor : "#DD6B55",
							confirmButtonText : confirmTxt,
							cancelButtonText : cancelTxt,
							closeOnConfirm : true,
							closeOnCancel : true
						},
						function(isConfirm) {
							if (isConfirm) {
								handleChangeOnInput("endTime" , prev);
							}else{
								$("#endTime").data("DateTimePicker").date(prev);
							}
						}
					);
				}else{
					handleChangeOnInput("endTime" , prev);
				}
			});
			
			$("#endTime").on("dp.change", function (e) {
				if($(this).data('val') == ''){
					$(this).data('val', e.oldDate);
				}
			});

			$('#addCustomRequirementModal').on('shown.bs.modal', function () {
				$('#crfName').focus();
			});
			
			$('#inviteVendorModal').on('shown.bs.modal', function () {
				$('#ivfName').focus();
			});

			if ($("#addCustomRequirementModal").find(".error").length > 0){
				$('#addCustomRequirementModal').modal("show");
			}

			if ($("#inviteVendorModal").find(".error").length > 0) {
				$('#inviteVendorModal').modal("show");
			}

			$("#activateProject").on('click', function(e){
				e.preventDefault();
				changeStatus("ACTIVE");
			});

			$("#cancelProject").on('click', function(e){
				e.preventDefault();
				changeStatus("CANCELLED");
			});

			$('.openConfirmDeleteDialog').on("click", function(e){
				e.preventDefault();

				var url = $(this).data('url');
				/*[+
				 var titleTxt = [[#{html.requirement.list.delete.confirm.title}]];
				 var bodyTxt = [[#{html.requirement.list.delete.confirm.body}]];
				 +]*/

				swal({
						html: true,
						title: titleTxt,
						text : bodyTxt,
						type : "warning",
						showCancelButton : true,
						confirmButtonColor : "#DD6B55",
						confirmButtonText : confirmTxt,
						cancelButtonText : cancelTxt,
						closeOnConfirm : true,
						closeOnCancel : true
					},

					function(isConfirm) {
						if (isConfirm) {
							window.location.href = url;
						}
					}
				);
			});
		});
		
		function removeRequirement(element) {
			var targetUrl;

			if (element.id == 0) {
				// custom requirement
				targetUrl = url + purchaseId + '/customrequirement/' + element.dataset.purchaserequirementid;
			}
			else {
				// standard requirement
				targetUrl = url + purchaseId + '/requirement/' + element.id;
			}

			$.ajax({
				url : targetUrl,
				method : 'DELETE',
				cache : false,
				headers: {
					'X-CSRF-TOKEN': token
				},
				error : function(response) {
					$.notify(fieldNotUpdatedMsg, {
						status : 'danger',
						pos : 'top-right'
					});
				},
				success : function(response) {
					$.notify(fieldUpdatedMsg, {
						status : 'success',
						pos : 'top-right'
					});
					
					// update datatables
					if (element.id == 0) {
						$(".listTable").DataTable().row($(element).parents('tr')).remove().draw();
					}
					else {
						$('#req-prio-select-' + element.id).hide();
						$('#req-prio-span-' + element.id).show();
						
						var selectedValue = $('#req-prio-span-' + element.id).data("importance");
						$('#req-prio-select-' + element.id).data('importance', selectedValue);
					}
				}
			});
		}

		function changePriority(obj) {
			var element = obj;
			var requirementId = element.id.substring("req-prio-select-".length);
			var chosenPriority = $(obj).val();
			var previousPriority = $(obj).data('importance');
			
			// see if the user really really really means it ;)
			if (previousPriority == 'ABSOLUTE') {
				swal({
					html: true,
					title: swalFromAbsoluteTitle,
					text : swalFromAbsoluteText,
					type : "warning",
					showCancelButton : true,
					confirmButtonColor : "#DD6B55",
					confirmButtonText : confirmTxt,
					cancelButtonText : cancelTxt,
					closeOnConfirm : true,
					closeOnCancel : true
				},
				function(isConfirm) {
					if (isConfirm) {
						performPriorityChange(element, requirementId, chosenPriority, previousPriority);
					}
					else {
						$(element).val(previousPriority);
					}
				});
			}
			else if (chosenPriority == 'ABSOLUTE') {
				var cText = (onlyEditorsCanRemoveMinimumRequirements && !isEditor) ? swalToAbsoluteForPurchaserText : swalToAbsoluteText;

				swal({
					html: true,
					title: swalToAbsoluteTitle,
					text : cText,
					type : "warning",
					showCancelButton : true,
					confirmButtonColor : "#DD6B55",
					confirmButtonText : confirmTxt,
					cancelButtonText : cancelTxt,
					closeOnConfirm : true,
					closeOnCancel : true
				},
				function(isConfirm) {
					if (isConfirm) {
						performPriorityChange(element, requirementId, chosenPriority, previousPriority);
					}
					else {
						$(element).val(previousPriority);
					}
				});
			}
			else {
				performPriorityChange(element, requirementId, chosenPriority, previousPriority);
			}
		}
		
		function performPriorityChange(obj, requirementId, chosenPriority, previousPriority) {
			var element = obj;

			$.ajax({
				url : url + purchaseId + '/setPriority/' + requirementId + '/' + chosenPriority,
				method : 'POST',
				cache : false,
				headers: {
					'X-CSRF-TOKEN': token
				},
				error : function(response) {
					$.notify(fieldNotUpdatedMsg, {
						status : 'danger',
						pos : 'top-right'
					});

					$(element).data('importance', previousPriority);
				},
				success : function(response) {
					$.notify(fieldUpdatedMsg, {
						status : 'success',
						pos : 'top-right'
					});

					$(element).data('importance', chosenPriority);

					if (onlyEditorsCanRemoveMinimumRequirements && !isEditor && chosenPriority == "ABSOLUTE") {
						$('#req-prio-select-' + requirementId).hide();
						$('#req-prio-span-' + requirementId).show();
						$('#req-prio-span-' + requirementId).text($('#req-prio-select-' + requirementId  + ' option:selected').text());
						$('#req-prio-select-' + requirementId).closest('tr').find('input:checkbox').attr('disabled', true);
					}
				}
			});
		}

		function handleCheckboxChange(obj) {
			var element = obj;
			if (element.checked) {
				$.ajax({
					url: url + purchaseId + '/requirement/' + element.id,
					method : 'PUT',
					cache : false,
					headers: {
						'X-CSRF-TOKEN': token
					},
					error : function(response) {
						$.notify(fieldNotUpdatedMsg, {
							status : 'danger',
							pos : 'top-right'
						});
					},
					success : function(response) {
						$.notify(fieldUpdatedMsg, {
							status : 'success',
							pos : 'top-right'
						});

						if (onlyEditorsCanRemoveMinimumRequirements && element.dataset.importance == "ABSOLUTE" && !isEditor) {
							element.disabled = true;
						}
						else {
							var selectedValue = $('#req-prio-span-' + element.id).data("importance");
							$('#req-prio-span-' + element.id).hide();
							$('#req-prio-select-' + element.id).show();
							$('#req-prio-select-' + element.id).val(selectedValue);
						}
					}
				});
			}
			else {
				if (element.dataset.importance == "ABSOLUTE") {
					swal({
						html: true,
						title: swalDeleteTitle,
						text : swalDeleteText,
						type : "warning",
						showCancelButton : true,
						confirmButtonColor : "#DD6B55",
						confirmButtonText : confirmTxt,
						cancelButtonText : cancelTxt,
						closeOnConfirm : true,
						closeOnCancel : true
					},
					function(isConfirm) {
						if (isConfirm) {
							removeRequirement(element);
						}
						else {
							element.checked = !element.checked;
						}
					});
				}
				else {
					removeRequirement(element);
				}
			}
		}

		function handleChangeOnInput(field , oldValue) {
			var objId = $("#id").val();
			var obj = $("#"+field).val();
			var token = $("meta[name='_csrf']").attr("content");
			var updateFieldsUrl = url + objId + '/update/'+ field ;

			var payload = {
				field: obj
			};

			$.ajax({
				url: updateFieldsUrl,
				method: 'POST',
				data: JSON.stringify(payload),
				contentType: "application/json;",
				headers: {
					'X-CSRF-TOKEN': token
				},
				error: function(response) {
					var errorMsg = validationErrorMsgs[response.responseText];
					$.notify(errorMsg, {
						status : 'danger',
						pos : 'top-right'
					});
					if(field == "endTime"){
						$("#"+field).data("DateTimePicker").date(oldValue);
					}else{
						$("#"+field).val(oldValue);
					}
				},
				success: function(response) {
					if(field == "endTime"){
						$("#endTime").val(obj);
						$("#"+field).data("DateTimePicker").date(obj);
					}
					$.notify(fieldUpdatedMsg, {
						status : 'success',
						pos : 'top-right'
					});
				}
			});
		}

		function changeStatus(status){
			var objId = $("#id").val();
			var updateStatusUrl = url + objId + '/update/status' ;
			var swalTitle, swalText;

			switch(status){
				case "ACTIVE":
					swalTitle = swalActivateTitle;
					swalText = swalActivateText;
					break;
				case "CANCELLED":
					swalTitle = swalCancelTitle;
					swalText = swalCancelText;
					break;
				default:
					swalTitle = "Wrong status input";
					swalText = "Wrong status input";
					break;
			}

			if(status == 'ACTIVE' && $('#endTime').data("DateTimePicker").date() == null){
				swal(changingStatusErrorTitle, changingStatusErrorText, "warning");
				return;
			}

			swal({
					html: true,
					title: swalTitle,
					text : swalText,
					type : "warning",
					showCancelButton : true,
					confirmButtonColor : "#DD6B55",
					confirmButtonText : confirmTxt,
					cancelButtonText : cancelTxt,
					closeOnConfirm : true,
					closeOnCancel : true
				},
				function(isConfirm) {
					if (isConfirm) {
						$.ajax({
							url: updateStatusUrl,
							method: 'POST',
							data: JSON.stringify({
								status: status
							}),
							contentType: "application/json;",
							headers: {
								'X-CSRF-TOKEN': token
							},
							error: function (response) {
								var errorMsg = response.responseText;

								$.notify(errorMsg, {
									status: 'danger',
									pos: 'top-right'
								});
							},
							success: function (response) {
								window.location.reload();
							}
						});
					}
				}
			);
		}
		/*]]>*/
	</script>
</body>
</html>
