<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/header :: header"/>
<body>
	<div class="wrapper">
		<header th:replace="fragment/navbar :: navbar-header" />
		<aside th:replace="fragment/navbar :: navbar-aside (page = 'purchases.new')" />
 
		<section>
			<div class="content-wrapper">
				<div class="panel-body">
					<div class="row">
						<div class="col-lg-12">
							<form class="form-horizontal" method="post" th:action="@{/purchase/new}" th:object="${newPurchase}">
								<fieldset>
									<div class="form-group">
										<label class="col-sm-2 control-label" th:text="#{html.purchase.title} + ' *'"/>
										<div class="col-sm-8">
											<input autofocus="autofocus" th:field="*{title}" class="form-control"/>
											<ul th:if="${#fields.hasErrors('title')}" class="error">
												<li th:each="err : ${#fields.errors('title')}" th:text="${err}"/>
											</ul>
										</div>
									</div>
								</fieldset>
		
								<fieldset>
									<div class="form-group">
										<label class="col-sm-2 control-label" th:text="#{html.purchase.description} + ' *'"/>
										<div class="col-sm-8">
											<textarea rows="8" th:field="*{description}" class="form-control"/>
											<ul th:if="${#fields.hasErrors('description')}" class="error">
												<li th:each="err : ${#fields.errors('description')}" th:text="${err}"/>
											</ul>
										</div>
									</div>
								</fieldset>
								
								<fieldset>
									<div class="form-group">
										<label class="col-sm-2 control-label" th:text="#{html.purchase.email} + ' *'"/>
										<div class="col-sm-8">
											<input th:field="*{email}" class="form-control"/>
											<ul th:if="${#fields.hasErrors('email')}" class="error">
												<li th:each="err : ${#fields.errors('email')}" th:text="${err}"/>
											</ul>
										</div>
									</div>
								</fieldset>

								<fieldset id="domainsFieldSet">
									<div class="form-group">
										<label class="col-sm-2 control-label" th:text="#{html.purchase.domain} + ' *'"/>
										<div class="col-sm-8">
											<select th:field="*{domains}" multiple="multiple" id="my-select" name="my-select[]">
												<option th:each="domain : ${domains}" th:value="${domain.id}" th:text="${domain.name}" selected="selected"></option>
											</select>
											<ul th:if="${#fields.hasErrors('domains')}" class="error">
												<li th:each="err : ${#fields.errors('domains')}" th:text="${err}"/>
											</ul>
										</div>
									</div>
								</fieldset>
		
								<fieldset>
									<div class="form-group">
										<div class="col-sm-offset-2 col-sm-8">
											<button type="submit" style="margin-right: 5px;" class="btn btn-lg btn-primary col-xs-2" th:text="#{html.control.button.save}"/>
											<a th:href="@{/purchase/list}" style="margin-right: 5px;" class="btn btn-lg btn-danger col-xs-2" th:text="#{html.control.button.cancel}"/>
										</div>
									</div>
								</fieldset>
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>

	<div th:replace="fragment/footer :: footer"/>

	<script th:inline="javascript">
		/*<![CDATA[*/

		$(document).ready(function () {

			var selectedLabel = /*[[#{html.multiselect.footer.selected}]]*/ "defaultvalue";
			var unselectedLabel = /*[[#{html.multiselect.footer.notselected}]]*/ "defaultvalue";

			var seletedFooter   = '<div class="footer">' + selectedLabel + '</div>';
			var unseletedFooter = '<div class="footer">' + unselectedLabel + '</div>';

			$('#my-select').multiSelect({'selectableFooter': unseletedFooter, 'selectionFooter': seletedFooter});

			function handleOnChangeEvent(){
				$('#realAvailableForAllDomains').val(0);
				$('#domainsFieldSet').removeAttr("disabled");
				$('#my-select').removeAttr("disabled");
				$("#my-select").multiSelect('refresh');
			};

			//in case of page refresh
			handleOnChangeEvent();
		});

		/*]]>*/
	</script>


	<script th:replace="fragment/datatables :: datatables "/>

</body>
</html>
