<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/header :: header" />
<body>
	<div class="wrapper">
		<header th:replace="fragment/navbar :: navbar-header" />
		<aside th:replace="fragment/navbar :: navbar-aside (page = 'purchases.new')" />

		<section>
			<div class="content-wrapper">
				<div class="panel-body">
					<div class="row">
						<div class="col-sm-12">
							<h3 th:text="#{html.purchase.questionnaire.skip.title}" />
							<p th:text="#{html.purchase.questionnaire.skip.description}" />
						</div>
					</div>

					<div class="row">
						<div class="col-sm-12">
							<form id="skipQuestionnaire" method="post" th:action="@{/purchase/questionnaire/{purchaseId}/skip(purchaseId=${purchaseId})}" class="form-horizontal">
								<fieldset>
									<div class="form-group">
										<div class="col-sm-12">
											<a class="btn btn-primary col-xs-3" th:href="@{/purchase/questionnaire/{purchaseId}(purchaseId=${purchaseId})}" th:text="#{html.purchase.questionnaire.skip.button.continue.label}" />
											<button type="submit" class="btn btn-success col-xs-3" style="margin-left: 5px;" th:text="#{html.purchase.questionnaire.skip.button.skip.label}" />
										</div>
									</div>
								</fieldset>
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>

	<div th:replace="fragment/footer :: footer" />

</body>
</html>
