/* ========================================================================
   Component: layout
 ========================================================================== */
body,
.wrapper > section {
  background-color: #F1F1F1; /* #f5f7fa; */
}
.wrapper > .aside {
  background-color: #4C4B5F; /*#3a3f51;*/
}
/* ========================================================================
   Component: top-navbar
 ========================================================================== */
.topnavbar {
  background-color: #fff;
}
.topnavbar .navbar-header {
  background-color: transparent;
  background-image: -webkit-linear-gradient(left, #4C4B5F 0%, #5C5B73 100%);
  background-image: -o-linear-gradient(left, #4C4B5F 0%, #5C5B73 100%);
  background-image: linear-gradient(to right, #4C4B5F 0%, #5C5B73 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4C4B5F', endColorstr='#5C5B73', GradientType=1);
}
@media only screen and (min-width: 768px) {
  .topnavbar .navbar-header {
    background-image: none;
  }
}
.topnavbar .navbar-nav > li > .navbar-text {
  color: white;
}
.topnavbar .navbar-nav > li > a,
.topnavbar .navbar-nav > .open > a {
  color: white;
}
.topnavbar .navbar-nav > li > a:hover,
.topnavbar .navbar-nav > .open > a:hover,
.topnavbar .navbar-nav > li > a:focus,
.topnavbar .navbar-nav > .open > a:focus {
  color: #144639;
}
.topnavbar .navbar-nav > .active > a,
.topnavbar .navbar-nav > .open > a,
.topnavbar .navbar-nav > .active > a:hover,
.topnavbar .navbar-nav > .open > a:hover,
.topnavbar .navbar-nav > .active > a:focus,
.topnavbar .navbar-nav > .open > a:focus {
  background-color: transparent;
}
.topnavbar .navbar-nav > li > [data-toggle='navbar-search'] {
  color: #fff;
}
.topnavbar .nav-wrapper {
  background-color: #4C4B5F;
  background-image: -webkit-linear-gradient(left, #4C4B5F 0%, #5C5B73 100%);
  background-image: -o-linear-gradient(left, #4C4B5F 0%, #5C5B73 100%);
  background-image: linear-gradient(to right, #4C4B5F 0%, #5C5B73 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4C4B5F', endColorstr='#5C5B73', GradientType=1);
}
@media only screen and (min-width: 768px) {
  .topnavbar {
    background-color: #4C4B5F;
    background-image: -webkit-linear-gradient(left, #4C4B5F 0%, #5C5B73 100%);
    background-image: -o-linear-gradient(left, #4C4B5F 0%, #5C5B73 100%);
    background-image: linear-gradient(to right, #4C4B5F 0%, #5C5B73 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4C4B5F', endColorstr='#5C5B73', GradientType=1);
  }
  .topnavbar .navbar-nav > .open > a,
  .topnavbar .navbar-nav > .open > a:hover,
  .topnavbar .navbar-nav > .open > a:focus {
    box-shadow: 0 -3px 0 rgba(255, 255, 255, 0.5) inset;
  }
  .topnavbar .navbar-nav > li > .navbar-text {
    color: #fff;
  }
  .topnavbar .navbar-nav > li > a,
  .topnavbar .navbar-nav > .open > a {
    color: #fff;
  }
  .topnavbar .navbar-nav > li > a:hover,
  .topnavbar .navbar-nav > .open > a:hover,
  .topnavbar .navbar-nav > li > a:focus,
  .topnavbar .navbar-nav > .open > a:focus {
    color: #fff;
  }
}
/* ========================================================================
   Component: sidebar
 ========================================================================== */
.sidebar {
  background-color: #4C4B5F; /* #3a3f51; */
}
.sidebar .nav-heading {
  color: #919DA8;
}
.sidebar .nav > li > a,
.sidebar .nav > li > .nav-item {
  color: #e1e2e3;
}
.sidebar .nav > li > a:focus,
.sidebar .nav > li > .nav-item:focus,
.sidebar .nav > li > a:hover,
.sidebar .nav > li > .nav-item:hover {
  color: white;
}
.sidebar .nav > li > a > em,
.sidebar .nav > li > .nav-item > em {
  color: inherits;
}
.sidebar .nav > li.active,
.sidebar .nav > li.open,
.sidebar .nav > li.active > a,
.sidebar .nav > li.open > a,
.sidebar .nav > li.active .nav,
.sidebar .nav > li.open .nav,
.sidebar .nav > li > a[aria-expanded="true"] {
  background-color: #383d4e;
  color: white;
}
.sidebar .nav > li.active > a > em,
.sidebar .nav > li.open > a > em {
  color: white;
}
.sidebar .nav > li.active {
  border-left-color: #DA9B49;
}
.sidebar-subnav {
  background-color: #383D4E; /* #3a3f51; */
}
.sidebar-subnav > .sidebar-subnav-header {
  color: #e1e2e3;
}
.sidebar-subnav > li > a,
.sidebar-subnav > li > .nav-item {
  color: #e1e2e3;
}
.sidebar-subnav > li > a:focus,
.sidebar-subnav > li > .nav-item:focus,
.sidebar-subnav > li > a:hover,
.sidebar-subnav > li > .nav-item:hover {
  color: white;
}
.sidebar-subnav > li.active > a,
.sidebar-subnav > li.active > .nav-item {
  color: white;
}
.sidebar-subnav > li.active > a:after,
.sidebar-subnav > li.active > .nav-item:after {
  border-color: white;
  background-color: white;
}
/* ========================================================================
   Component: offsidebar
 ========================================================================== */
.offsidebar {
  border-left: 1px solid #cccccc;
  background-color: #fff;
  color: #515253;
}

/*=========================================================================
  Custom overrides goes here
  =========================================================================*/

/* override of angle theme - does not look good with our colour scheme */
@media only screen and (min-width: 768px) {
  .nav-wrapper {
    box-shadow: none !important;
  }
}

/* override of angle theme - does not look good with our colour scheme */
.content-wrapper > h3, .content-wrapper > .content-heading {
  background: #E1E1E1 !important;
  border-bottom: 1px solid #D1D1D1 !important;
}

.btn.btn-default {
  border: 1px solid #C1C1C1 !important;
}

.panel-body h3 {
  border-bottom: 2px solid #D1D1D1;
  margin-bottom: 30px;
}

.c-checkbox input[type=checkbox]:checked + span,
.c-checkbox input[type=radio]:checked + span {
  border-color: #5C5B73;
  background-color: #5C5B73;
}

/* Button Primary */
.btn-primary {
  color: #fff;
  background-color: #5C5B73;
  border-color: #5C5B73;
}
.btn-primary:focus,
.btn-primary.focus {
  color: #fff;
  background-color: #4C4B5F;
  border-color: #4C4B5F;
}
.btn-primary:hover {
  color: #fff;
  background-color: #4C4B5F;
  border-color: #4C4B5F;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #383D4E;
  border-color: #383D4E;
}
.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
  color: #fff;
  background-color: #383D4E;
  border-color: #383D4E;
}

/* Button Success */
.btn-success {
  color: #fff;
  background-color: #DA9B49;
  border-color: #DA9B49;
}
.btn-success:focus,
.btn-success.focus {
  color: #fff;
  background-color: #d48b2b;
  border-color: #d48b2b;
}
.btn-success:hover {
  color: #fff;
  background-color: #d48b2b;
  border-color: #d48b2b;
}
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #d48b2b;
  border-color: #d48b2b;
}
.btn-success:active:hover,
.btn-success.active:hover,
.open > .dropdown-toggle.btn-success:hover,
.btn-success:active:focus,
.btn-success.active:focus,
.open > .dropdown-toggle.btn-success:focus,
.btn-success:active.focus,
.btn-success.active.focus,
.open > .dropdown-toggle.btn-success.focus {
  color: #fff;
  background-color: #d48b2b;
  border-color: #d48b2b;
}

/* Button Danger */
.btn-danger {
  color: #fff;
  background-color: #cc3300;
  border-color: #cc3300;
}
.btn-danger:focus,
.btn-danger.focus {
  color: #fff;
  background-color: #e63900;
  border-color: #e63900;
}
.btn-danger:hover {
  color: #fff;
  background-color: #e63900;
  border-color: #e63900;
}
.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
  color: #fff;
  background-color: #cc3300;
  border-color: #cc3300;
}
.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-danger:hover,
.btn-danger:active:focus,
.btn-danger.active:focus,
.open > .dropdown-toggle.btn-danger:focus,
.btn-danger:active.focus,
.btn-danger.active.focus,
.open > .dropdown-toggle.btn-danger.focus {
  color: #fff;
  background-color: #cc3300;
  border-color: #cc3300;
}

/*=====================================================
   Jquery Steps
 =========================================================*/
 .wizard > .content {
   min-height: 400px;
 }