<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/header :: header"/>
<body>
	<div class="wrapper">
		<header th:replace="fragment/navbar :: navbar-header" />
		<aside th:replace="fragment/navbar :: navbar-aside (page = 'requirements')" />
 
		<section>
			<div class="content-wrapper">
				<h3>
					<a class="btn btn-default" th:href="@{/requirement/new}">
						<i class="fa fa-plus" style="margin-right: 10px;"></i>
						<span th:text="#{html.requirement.page.addrequirement}" />
					</a>
				</h3>

				<div class="panel-body">
					<div class="row">
						<div class="col-lg-12">
							<div class="table-responsive">
								<table class="listTable table table-striped table-hover">
									<thead>
										<tr>
											<th class="col-md-3" th:text="#{html.requirement.name}"/>
											<th class="col-md-1" th:text="#{html.requirement.category}"/>
											<th class="col-md-7" th:text="#{html.requirement.description}"/>
											<th class="col-md-1" th:text="#{html.header.operation}"/>
										</tr>
									</thead>
		
									<tbody>
										<tr th:each="requirement : ${requirements}">
											<td th:text="${requirement.name}"/>
											<td th:text="${requirement.categoryRichObject?.name}"/>
											<td class="preformat" th:text="${requirement.description}"/>
											<td>
												<a th:href="@{/requirement/view/{id}(id=${requirement.id})}"><em class="fa fa-fw fa-search" th:title="#{html.mouseover.view}"></em></a>
												<a th:href="@{/requirement/edit/{id}(id=${requirement.id})}"><em class="fa fa-fw fa-pencil" th:title="#{html.mouseover.edit}"></em></a>
												<a onclick="deleteRequirement(this);" href="#" th:attr="data-id=${requirement.id}"><em class="fa fa-fw fa-remove" th:title="#{html.mouseover.delete}"></em></a>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
	
	<nav th:replace="fragment/footer :: footer" />

	<script th:replace="fragment/datatables :: datatables "/>

	<script th:inline="javascript">
	/*<![CDATA[*/
		var token = $("meta[name='_csrf']").attr("content");

		function deleteRequirement(obj) {
			var id = $(obj).data('id');

		/*[+
			var url = [[@{/requirement/}]];
			var urlWithId = [[@{/requirement/}]] + id;
			var titleTxt = [[#{html.requirement.list.delete.confirm.title}]];
			var bodyTxt = [[#{html.requirement.list.delete.confirm.body}]];
			var cancelTxt = [[#{html.control.button.no}]];
			var confirmTxt = [[#{html.control.button.yes}]];
		 +]*/

			swal({
					html: true,
					title: titleTxt,
					text : bodyTxt,
					type : "warning",
					showCancelButton : true,
					confirmButtonColor : "#DD6B55",
					confirmButtonText : confirmTxt,
					cancelButtonText : cancelTxt,
					closeOnConfirm : true,
					closeOnCancel : true
				},
				function(isConfirm) {
					if (isConfirm) {
						$.ajax({
							type: "DELETE",
							url: urlWithId,
							headers: {
								'X-CSRF-TOKEN': token
							},
							success: function() {
								window.location.href = url;
							}
						});
					}
				}
			);
		}
	
		$(document).ready(function() {		

		});
	/*]]>*/
	</script>
</body>
</html>
